<launch>
    <!-- parameters -->
    <arg name="port"            default="/dev/ttyACM0"     doc="device file of the sensor"/>
    <arg name="baud"            default="115200"              doc="baudrate of the sensor"/>
    <arg name="useRMC"            default="False"              doc="use rmc instead of GGA"/>


    <!-- node -->
	<node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="gps" output="screen" >
		<param name="port"              value="$(arg port)"/>
		<param name="baud"              value="$(arg baud)"/>
		<param name="useRMC"              value="$(arg useRMC)"/>		
	</node>

    <node pkg="gps_common" type="utm_odometry_node" name="gps_to_utm" output="screen" >
        <remap from="odom"       to="gps_odom"/>
    </node>    

</launch>
